
*.asv
*.mdmp
*.gif
*.fig
*.png
*.mat
*.db
*.suo
*.lock
*.ide
*.dll
*.config
*.pdb
*.csproj
*.sln
*.cache
*.ide-shm
*.ide-wal
*.exe
*.sqlite
*.json
*.pdf
figs_TORQUE_2020.m
@DTU_10MW/stage_01.Z14
combine_length.m
compare_length.m
*.fecache
*.intinfo
*.log
*.intinfo
*.sbr
*.xlsx
@NREL_5MW/input_functions/if2_read.m
*.tikz
*.tex
*.if2
*.sir
*.spckst
*.log
new.subvar
scale_SIMPACK.m
test_LDD.m
*.tes
*.spf
*.bak
LDD.m
@NREL_5MW/input_functions/gen_speed.m
@NREL_5MW/input_functions/rotor_torque.m
*.STL
*.fbi
*.slp
*.obj
freq_response.m
time_response.m
solver_analysis.m
time_response_PI.m
model_control.ipynb
mesh_stiffness.m
Fig_5_Gu_Velex_2015.csv
*.zip
sim_steps_13.m
check_classes.m
control_tune.m
