
*.asv
*.mdmp
*.gif
*.fig
*.png
*.mat
*.db
*.suo
*.lock
*.ide
*.dll
*.config
*.pdb
*.csproj
*.sln
*.cache
*.ide-shm
*.ide-wal
*.exe
*.sqlite
*.json
*.pdf
scripts
@DTU_10MW/stage_01.Z14
*.fecache
*.intinfo
*.log
*.intinfo
*.sbr
*.xlsx
@NREL_5MW/input_functions/if2_read.m
*.tikz
*.tex
*.sir
*.spckst
*.log
new.subvar
*.tes
*.spf
*.bak
@NREL_5MW/input_functions/gen_speed.m
@NREL_5MW/input_functions/rotor_torque.m
*.STL
*.fbi
*.slp
*.obj
*.zip
@NREL_5MW/NREL_5MW_5000.0kW.subvar
@NREL_5MW/NREL_5MW_5000.0kW.spck
@NREL_5MW/NREL_5MW_0500.0kW.subvar
@NREL_5MW/NREL_5MW_0500.0kW.spck
@NREL_5MW/NREL_5MW_0050.0kW.subvar
@NREL_5MW/NREL_5MW_0050.0kW.spck
@NREL_5MW/NREL_5MW_0005.0kW.subvar
@NREL_5MW/NREL_5MW_0005.0kW.spck
@NREL_5MW/NREL_5MW_0000.5kW.subvar
@NREL_5MW/NREL_5MW_0000.5kW.spck
@NREL_5MW/gearbox
*.dat
*.spq
*.ks
@NREL_5MW/stage_01.VP.csv
notes/gear_params.ipynb
@NREL_5MW/DoE
@NREL_5MW/DoE_data
@NREL_5MW/DoE_reference
@NREL_5MW/DoE_scaled
@NREL_5MW/NREL_5MW_referenceOLD.spck
@NREL_5MW/DoE_0500.0kW
main_shaft
*.kpro
data/sample_all.csv
data/sample_stiff_damp_load.csv
notes/.ipynb_checkpoints
notes/__pycache__
notes/DA*
@NREL_5MW/sample_stiff_damp_load.csv
*.spcktmp
